<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845322720664-6jrnjtm38hreees1l9i7um9fi1kafq7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845322720664-6jrnjtm38hreees1l9i7um9fi1kafq7i</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ-E4NF7hogNOq82KeSAsQTb2t-HsI23g</string>
	<key>GCM_SENDER_ID</key>
	<string>845322720664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>projectWarakasuApp</string>
	<key>PROJECT_ID</key>
	<string>projectwarakasuapp</string>
	<key>STORAGE_BUCKET</key>
	<string>projectwarakasuapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845322720664:ios:b34d9ed3be36f37d</string>
	<key>DATABASE_URL</key>
	<string>https://projectwarakasuapp.firebaseio.com</string>
</dict>
</plist>